@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --veryDarkBlueMain: hsl(217, 54%, 11%);
    --veryDarkBlueMain2: hsl(215, 48%, 10%);
    --veryDarkBlueCard: hsl(216, 50%, 16%);
    --veryDarkBlue: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

html,body{
    height: 100vh;
    width: 100vw;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: var(--veryDarkBlueMain);
}

.container{
    padding: 2px;
    height: 546px;
    width: 330px;
    background-color: var(--veryDarkBlueMain2);
    border-radius: 11px;
}

.container__card{
    padding: 26px 24px;
    height: 100%;
    width: 100%;
    background-color: var(--veryDarkBlueCard);
    border-radius: 11px;
}

.container__card__image--backgroud{
    margin-bottom: 30px;
    height: 276px;
    width: 277px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/image-equilibrium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    cursor: pointer;
}

.container__card__imagen--backgroundHover{
    visibility: hidden;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: hsla(214, 52%, 70%, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__card__imagen--backgroundHover--eye{
    visibility: hidden;
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    height: 39px;
    width: 46px;
}

.container__card__image--backgroud:hover .container__card__imagen--backgroundHover{
    visibility: visible;
}

.container__card__image--backgroud:hover .container__card__imagen--backgroundHover--eye{
    visibility: visible;
}

.container__card__title{
    color: var(--white);
    font-size: 1.16em;
}

.container__card__title:hover{
    color: var(--cyan);
}

.container__card__text{
    margin: 24px 0;
    color: var(--softBlue);
    font-size: 0.8em;
}

.container__card__money__time{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.container__card__money{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container__card__money__image{
    margin-right: 7px;
    background-image: url(./images/icon-ethereum.svg);
    background-repeat: no-repeat;
    height: 18px;
    width: 11px;
}

.container__card__time{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 110px;
}

.container__card__time__image{
    margin-right: 9px;
    background-image: url(./images/icon-clock.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 14px;
    width: 14px;
}

.container__card__money__text{
    font-size: 0.72em;
    color: var(--cyan);
}

.container__card__time__text{
    font-size: 15px;
    color: var(--softBlue);
}

hr{
    margin-top: 16px;
    height: 1px;
}

.container__card__profile{
    width: 100%;
    height: 33px;
    padding-top: 16px;
    display: flex;
    align-items: center;
}

.container__card__profile__image{
    border: 1px solid white;
    background-image: url(./images/image-avatar.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 33px;
    width: 33px;
    border-radius: 50%;
}

.container__card__profile__text{
    font-size: 1.6rem;
    padding-left: 16px;
    color: var(--softBlue);
}

.container__card__profile__name{
    color: var(--white);
}

.container__card__profile__name:hover{
    color: var(--cyan);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and(min-width: 1440px) {
    .container {
        margin: 154px 0;
    }
}